@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BuzzBid</h1>
    <p><a>It's not junk if someone will pay for it' </a>.</p>
    <a href="/Login" class="list-group-item list-group-item-action">Please login to continue</a>
</div>
